@use "../../styles" as *;

.button {
  outline: none;
  padding: 0.7rem 2rem;
  cursor: pointer;
  background-color: $lightGrey;
  transition: 0.3s ease-in-out;
  border: none;

  &.blk {
    background-color: $primary;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    &:hover {
      background-color: $secondary;
    }
    &:active {
      @include secondary(0.7);
      border: 0.5px solid white;
    }
  }
  &.yellow {
    background-color: $secondary;
    color: white;
    border: none;

    &:hover {
      @include secondary(0.7);
      &:active {
        border: 0.5px solid white;
      }
    }
  }

  // &--outline {
  //   @extend .button;
  //   color: color(mainColor);
  //   background-color: color(lightBg);

  //   &:hover {
  //     color: color(lightBg);
  //     background-color: color(mainColor);
  //   }
  // }
}
