@use "../../styles" as *;

.button {
  border: 1px solid $lightGrey;
  outline: none;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: $lightGrey;
  transition: 0.3s ease-in-out;

  &.blk {
    background-color: $primary;
    color: white;
  };


  &:hover,
  &.active {
    background-color: $secondary;
    color: white;
    border: 1px solid $secondary;
  }
  // &--outline {
  //   @extend .button;
  //   color: color(mainColor);
  //   background-color: color(lightBg);

  //   &:hover {
  //     color: color(lightBg);
  //     background-color: color(mainColor);
  //   }
  // }
}
