@use "../../styles/index" as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
  padding-right: 15%;
  background-color: $primary;
  z-index: 3;

  .conLogo {
    display: flex;
  }
  .nav {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 4%;
    text-align: center;

    .active {
      border-bottom: 2px solid $secondary;
    }
    .navList:hover {
      border-bottom: 1px solid $secondary;
    }

    a {
      font-size: 18px;
      font-weight: 600;
      color: white;
      vertical-align: -webkit-baseline-middle;
    }
  }
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;

    &__alert {
      position: absolute;
      padding: 2px 7px;
      border-radius: 100%;
      background-color: #b80f0a;
      color: white;
      top: -2px;
      right: 2px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
