@mixin R-tXY(
  $rotateStart,
  $translateXStart,
  $translateYStart,
  $rotateEnd,
  $translateXEnd,
  $translateYEnd
) {
  @keyframes R-tXY {
    0% {
      transform: rotate($rotateStart) translateX($translateXStart)
        translateY($translateYStart);
    }
    100% {
      transform: rotate($rotateEnd) translateX($translateXEnd)
        translateY($translateYEnd);
    }
  }
}

@mixin maxWidth($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin minWidth($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin maxHeight($arg) {
  @media screen and (max-height: $arg) {
    @content;
  }
}

@mixin secondary($op) {
  background-color: rgb(246, 183, 22, $op);
}
